.container
  = flash_messages
  %h1 Choix de cours
  = form_tag(select_courses_path, method: :post) do
    %input.hidden{type: 'text', name: 'trimestre', value: @trimester_slug}
    %input.hidden{type: 'text', name: 'baccalaureat', value: @bachelor_slug}
    .form-horizontal
      = render partial: 'shared/bachelor_choice_resume'
      %hr
      .form-group
        %label.col-xs-12.col-sm-2.control-label Cours
        .col-xs-12.col-sm-10.controls
          .input-group.input-group-lg{data: { toggle: 'buttons' }}
            - @courses.each do |course|
              %label.btn.btn-primary.course-btn{for: "course-#{course.name}", class: (params.try(:[], 'courses').try(:[], course.name) == 'on' ? 'active' : nil)}
                %input{id: "course-#{course.name}", type: 'checkbox', name: "courses[#{course.name}]", checked: (params.try(:[], 'courses').try(:[], course.name) == 'on')}
                = course.name
      .form-group
        .controls.pull-right.col-xs-12.col-sm-10
          = link_to root_path, class: 'btn btn-block btn-primary' do
            %i.glyphicon.glyphicon-chevron-left
            Choisir de nouveau
      %hr.visible-xs
    .panel.panel-default.filters
      .panel-heading Filtres
      .panel-body
        .filter
          %h2.filter-heading
            %label.control-label{for: "number-of-courses-activated"} Nombre de cours
          .filter-body
            %input.form-control{id: "number-of-courses", type: "number", name: "filters[number-of-courses]", value: params.try(:[], 'filters').try(:[], 'number-of-courses')}
        .filter.days-off-filter
          %h2.filter-heading Journées de congées
          .filter-body
            .day-off-list
              .row
                = render partial: 'day_off_template', collection: @days_off
                %a.btn.btn-primary.btn-block.add-period
                  Ajouter un congé
                  %i.glyphicon.glyphicon-plus
    %footer
      %button.btn.btn-block.pull-right.btn-primary
        Soumettre
        %i.glyphicon.glyphicon-share
%script#day-off-template{type: 'text/x-handlebars-template'}= render partial: 'day_off_template'