.container
  = flash_messages
  %ol.breadcrumb
    %li= link_to 'Choix du baccalauréat', root_path
    %li.active Choix de cours
  %h1 Choix de cours
  = form_tag(select_courses_path, method: :post, class: 'courses_choice') do
    %input.hidden{type: 'text', name: 'trimestre', value: @trimester_slug}
    %input.hidden{type: 'text', name: 'baccalaureat', value: @bachelor_slug}
    .form-horizontal
      = render partial: 'shared/bachelor_choice_resume'
      .form-group
        .controls.pull-right.col-xs-12.col-sm-10
          = link_to root_path, class: 'btn btn-block btn-primary' do
            %i.glyphicon.glyphicon-chevron-left
            Choisir de nouveau
      %hr
      .form-group
        %label.col-xs-12.col-sm-2.control-label Cours
        .col-xs-12.col-sm-10.controls
          .courses-list.input-group.input-group-lg{data: { toggle: 'buttons' }}
            - @courses.each do |course|
              %label.btn.btn-primary.course-btn{for: "course-#{course.name}", class: (params.try(:[], 'courses').try(:[], course.name) == 'on' ? 'active' : nil)}
                %input{id: "course-#{course.name}", type: 'checkbox', name: "courses[#{course.name}]", checked: (params.try(:[], 'courses').try(:[], course.name) == 'on')}
                = course.name
      %hr.visible-xs
    .panel.panel-default.filters
      .panel-heading Filtres
      .panel-body
        = render partial: 'select_courses/filters/number_of_courses'
        = render partial: 'select_courses/filters/leaves'
    %button.btn.btn-block.pull-right.btn-primary
      Soumettre
      %i.glyphicon.glyphicon-share
- content_for :post_html do
  %script#leave-template{type: 'text/x-handlebars-template'}= render partial: 'select_courses/filters/leave'