.container
  = flash_messages
  %ol.breadcrumb
    %li= link_to 'Choix du baccalauréat', root_path
    %li.active Choix de cours
  .page-header
    %h1 Choix de cours
  = form_tag(select_courses_path, method: :post, class: 'courses_choice') do
    %input.hidden{type: 'text', name: 'schedule[bachelor]', value: @bachelor_slug}
    %input.hidden{type: 'text', name: 'schedule[trimester]', value: @trimester_slug}
    .form-horizontal
      = render partial: 'shared/bachelor_choice_resume'
      .form-group
        .controls.pull-right.col-xs-12.col-sm-10
          = link_to root_path, class: 'btn btn-block btn-primary' do
            %i.glyphicon.glyphicon-chevron-left
            Choisir de nouveau
      .panel.panel-default.parameters
        .panel-heading Paramètres
        .panel-body
          %fieldset
            %legend Cours qui m'intéressent
            .courses-list.input-group.input-group-lg{data: { toggle: 'buttons' }}
              - @courses.each do |course|
                %label.btn.btn-primary.course-btn{for: "schedule_course_#{course}", class: (@selected_courses.include?(course) ? 'active' : nil)}
                  %input{id: "schedule_course_#{course}", type: 'checkbox', name: "schedule[courses][#{course}]", checked: @selected_courses.include?(course)}
                  = course
          %fieldset
            %legend Nombre de cours par horaire
            .number-of-courses-selection.btn-group.btn-group-justified{data: { toggle: 'buttons' }}
              - @courses_range.each do |index|
                %label.btn.btn-primary{for: "schedule_number_of_courses_#{index}", class: (@nb_of_courses == index ? 'active' : nil)}
                  %input{id: "schedule_number_of_courses_#{index}", type: 'radio', name: "schedule[number_of_courses]", value: index, checked: (@nb_of_courses == index)}
                  = index
    .panel.panel-default.filters
      .panel-heading Filtres
      .panel-body
        = render partial: 'select_courses/filters/leaves/index'
        = render partial: 'select_courses/filters/restrictions/index'
    %button.btn.btn-block.pull-right.btn-primary
      Soumettre
      %i.glyphicon.glyphicon-share
- content_for :post_html do
  %script#leave-template{type: 'text/x-handlebars-template'}= render partial: 'select_courses/filters/leaves/row'
  %script#restriction-template{type: 'text/x-handlebars-template'}= render partial: 'select_courses/filters/restrictions/row'