.container
  = flash_messages
  %ol.breadcrumb
    %li= link_to 'Choix du baccalauréat', root_path
    %li.active Choix de cours
  %h1 Choix de cours
  = form_tag(select_courses_path, method: :post) do
    %input.hidden{type: 'text', name: 'trimestre', value: @trimester_slug}
    %input.hidden{type: 'text', name: 'baccalaureat', value: @bachelor_slug}
    .form-horizontal
      = render partial: 'shared/bachelor_choice_resume'
      .form-group
        .controls.pull-right.col-xs-12.col-sm-10
          = link_to root_path, class: 'btn btn-block btn-primary' do
            %i.glyphicon.glyphicon-chevron-left
            Choisir de nouveau
      %hr
      .form-group
        %label.col-xs-12.col-sm-2.control-label Cours
        .col-xs-12.col-sm-10.controls
          .input-group.input-group-lg{data: { toggle: 'buttons' }}
            - @courses.each do |course|
              %label.btn.btn-primary.course-btn{for: "course-#{course.name}", class: (params.try(:[], 'courses').try(:[], course.name) == 'on' ? 'active' : nil)}
                %input{id: "course-#{course.name}", type: 'checkbox', name: "courses[#{course.name}]", checked: (params.try(:[], 'courses').try(:[], course.name) == 'on')}
                = course.name
      %hr.visible-xs
    .panel.panel-default.filters
      .panel-heading Filtres
      .panel-body
        .filter
          %h2.filter-heading
            %label.control-label{for: "number-of-courses-activated"} Nombre de cours
          .filter-body
            .btn-group.btn-group-justified{data: { toggle: 'buttons' }}
              - @courses_range.each do |index|
                %label.btn.btn-primary{for: "number-of-courses-#{index}", class: (params.try(:[], 'filters').try(:[], 'number-of-courses') == "#{index}" ? 'active' : nil)}
                  %input{id: "number-of-courses-#{index}", type: 'radio', name: "filters[number-of-courses]", value: index, checked: (params.try(:[], 'filters').try(:[], 'number-of-courses') == "#{index}")}
                  = index
        .filter.leaves-filter
          %h2.filter-heading Périodes de congés
          .filter-body
            .leaves-list
              .row
                = render partial: 'leave', collection: @leaves
                %a.btn.btn-primary.btn-block.add-period
                  Ajouter un congé
                  %i.glyphicon.glyphicon-plus
    %button.btn.btn-block.pull-right.btn-primary
      Soumettre
      %i.glyphicon.glyphicon-share
- content_for :post_html do
  %script#leave-template{type: 'text/x-handlebars-template'}= render partial: 'leave'