.jumbotron
  .container
    %h1 Générateur d'horaire pour les étudiants de l'ÉTS
    %p Planifiez facilement et rapidement votre prochain horaire
    %p
      %a.btn.btn-primary{href: '#bachelor-selection'} Commencer!
.container
  = flash_messages
  %a{name: 'bachelor-selection'}
  = form_tag(select_bachelor_path, method: :post, enctype: 'multipart/form-data') do
    #trimester-panel-group.panel-group
      - @trimesters.each_with_index do |trimester, index|
        .panel.panel-default
          .panel-heading.trimester-panel-heading
            .panel-title
              %a{href: "##{trimester.slug}-panel-collapse", data: {toggle: 'collapse', parent: '#trimester-panel-group'}}
                = "#{trimester.term} #{trimester.year} #{(trimester.for_new_students? ? '(Nouveaux étudiants)' : '')}"
          .panel-collapse.collapse{id: "#{trimester.slug}-panel-collapse", class: (index == 0 ? 'in' : nil)}
            .panel-body.trimester-panel-body
              %ul.list-group.bachelor-list
                - trimester.bachelors.each do |bachelor|
                  %li.list-group-item.bachelor-item.col-xs-12.col-sm-6
                    = link_to bachelor.name, select_courses_path(trimestre: trimester.slug, baccalaureat: bachelor.slug), class: 'btn btn-primary bachelor-btn'