.row.day-off-row
  .col-xs-12.col-sm-3
    %select.form-control{name: "day-off-weekday[]"}
      - %w(Lundi Mardi Mercredi Jeudi Vendredi).each_with_index do |weekday, index|
        %option{value: index, selected: (defined?(day_off_template) ? (day_off_template.weekday_value == index) : false)}= weekday
  .col-xs-5.col-sm-4
    .input-group
      %span.input-group-addon De
      %select.form-control{name: "day-off-from-time[]"}
        - (0..23).each_with_index do |hour, index|
          %option{value: index, selected: (defined?(day_off_template) ? (day_off_template.from_time_value == index) : false)}= "#{hour}h00"
  .col-xs-5.col-sm-4
    .input-group
      %span.input-group-addon À
      %select.form-control{name: "day-off-to-time[]"}
        - (0..23).each_with_index do |hour, index|
          %option{value: index, selected: (defined?(day_off_template) ? (day_off_template.to_time_value == index) : (hour == 23))}= "#{hour}h00"
  .col-xs-2.col-sm-1
    %a.btn.btn-block.btn-primary.remove-period -