.container
  = form_tag(schedule_path, method: :get) do
    .form-horizontal
      .form-group
        %label.col-xs-12.col-sm-2.control-label Fichier
        .col-xs-12.col-sm-10.controls.form-horizontal
          %input.form-control{disabled: true, type: "text", value: @filename}
      .form-group
        .controls.pull-right.col-xs-12.col-sm-10
          = link_to select_file_path, class: 'btn btn-block btn-primary' do
            Choisir un nouveau PDF
            %i.glyphicon.glyphicon-upload
      %hr
      .form-group
        %label.col-xs-12.col-sm-2.control-label Cours
        .col-xs-12.col-sm-10.controls
          .input-group.input-group-lg
          - @courses.each do |course|
            %label.course.label{for: "course-#{course}", class: "label-#{(params.try(:[], 'courses').try(:[], course) == 'on' ? 'success' : 'primary')}"}
              %input.hidden{id: "course-#{course}", type: 'checkbox', name: "courses[#{course}]", checked: (params.try(:[], 'courses').try(:[], course) == 'on')}
              = course
      %hr.visible-xs
    .panel.panel-default.filters
      .panel-heading
        Filtres
      .panel-body
        = render partial: 'simple_filter', collection: @simple_filters
        .filter.days-off-filter
          %h2.filter-heading Journées de congées
          .filter-body
            .day-off-list
              .row
                = render partial: 'day_off_template', collection: @days_off
                %a.btn.btn-primary.btn-block.add-period
                  Ajouter un congé
                  %i.glyphicon.glyphicon-plus
    .panel.panel-default.outputs
      .panel-heading Sorties
      .panel-body
        %ul.list-group.output-list
          = render partial: 'output_type', collection: @output_types
    %footer
      %button.btn.btn-block.pull-right.btn-primary
        Soumettre
        %i.glyphicon.glyphicon-share
%script#day-off-template{type: "text/x-handlebars-template"}= render partial: 'day_off_template'