- content_for :pre_javascript do
  :coffeescript
    window.RESULTS_VALUE = #{@schedules.size}
.container
  = flash_messages
  %ol.breadcrumb
    %li= link_to 'Choix du baccalauréat', root_path
    %li= link_to 'Choix de cours', select_courses_path(trimestre: @trimester_slug, baccalaureat: @bachelor_slug)
    %li.active Résultats
  %h1 Résultats
  .form-horizontal
    .form-group
      .col-xs-12.col-sm-10.pull-right
        #results
          #results-canvas
          .results-description
            .caption.result-caption= "Nombre de combinaisons: #{@schedules.size}"
            .caption.total-caption= "Nombre de combinaisons permises: #{@results_limit}"
    = render partial: 'shared/bachelor_choice_resume'
    .form-group
      %label.col-xs-12.col-sm-2.control-label Cours sélectionnés
      .courses-list.col-xs-12.col-sm-10
        - @selected_courses.each do |selected_course|
          %label.btn.btn-primary.course-btn.disabled= selected_course
    .form-group
      %label.col-xs-12.col-sm-2.control-label Nombres de cours
      .col-xs-12.col-sm-10
        %input.number-of-courses.form-control{readonly: true, value: @nb_of_courses}
    .form-group
      %label.col-xs-12.col-sm-2.control-label Congés
      .col-xs-12.col-sm-10.leaves
        - if @leaves.empty?
          %input.form-control{readonly: true, value: 'Aucun'}
        - else
          %table.table
            %thead
              %tr
                %th Jour
                %th Début
                %th Fin
            %tbody
              - @leaves.each do |leave|
                %tr
                  %td= Weekday.new(leave['weekday'].to_i).fr.capitalize
                  %td= "#{leave['from-time']}h00"
                  %td= "#{leave['to-time']}h00"

    .form-group
      .controls.pull-right.col-xs-12.col-sm-10
        = link_to select_courses_path(trimestre: @trimester_slug, baccalaureat: @bachelor_slug), class: 'btn btn-block btn-primary' do
          %i.glyphicon.glyphicon-chevron-left
          Choisir de nouveau
  .panel.panel-default.outputs
    .panel-heading Sorties
    .panel-body
      %ul.list-group.output-list
        = render partial: 'output', collection: @outputs