%fieldset{class: "schedule-#{schedule_counter + 1}"}
  %legend= schedule_counter + 1
  %div.weekly-calendar
    %table.backdrop
      %thead
        %tr
          %th.hour
          - @weekdays.each do |weekday|
            %th= weekday.fr.capitalize
      %tbody
        - @hours.each do |hour|
          %tr.hour
            %td= hour_string_with(hour)
            - @weekdays.each do |weekday|
              %td.empty{class: ('weekend' if weekday.weekend?)}
          - unless last? hour
            %tr.half-hour
              %td
              - @weekdays.each do |weekday|
                %td.empty{class: ('weekend' if weekday.weekend?)}
    .schedule
      - schedule.each do |weekday|
        %div{class: weekday_classes_for(weekday)}
          - weekday.periods.each do |period|
            %div{class: period_classes_for(period)}
              .hour= format_time_of(period)
              .title
                - if period.duration >= 120
                  .course= period.course
                  .type= period.type
                - else
                  .course= "#{period.course} | #{period.type}"