.filter-row.row.leave-row
  .col-xs-12.col-sm-3
    %select.form-control{name: "schedule[filters][leaves][][weekday]"}
      - Weekday.all.each do |weekday|
        %option{value: weekday.fr, selected: (defined?(row) ? (row.weekday == weekday) : false)}= weekday.fr.capitalize
  .col-xs-5.col-sm-4
    .input-group
      %span.input-group-addon De
      %select.form-control{name: "schedule[filters][leaves][][from-time]"}
        - Leave::FROM_TIME_RANGE.each do |hour|
          %option{value: hour, selected: (defined?(row) ? (row.start_time.hour == hour) : false)}= "#{sprintf('%02d', hour)}h00"
  .col-xs-5.col-sm-4
    .input-group
      %span.input-group-addon À
      %select.form-control{name: "schedule[filters][leaves][][to-time]"}
        - Leave::TO_TIME_RANGE.each do |hour|
          %option{value: hour, selected: (defined?(row) ? (row.end_time.hour == hour) : (hour == Leave::TO_TIME_RANGE.end))}= "#{sprintf('%02d', hour)}h00"
  .col-xs-2.col-sm-1
    %a.btn.btn-block.btn-primary.remove-leave -