.container
  %form{action: '/calculer', method: :post}
    .form-horizontal
      .form-group
        %label.col-xs-2.control-label Fichier
        .col-xs-10.controls.form-horizontal
          .input-group
            %input.form-control{disabled: true, type: "text", value: filename}
            %span.input-group-addon .pdf
      .form-group
        %label.col-xs-2.control-label{for: "courses"} Cours
        .col-xs-10.controls
          .input-group.input-group-lg
          %select#courses.form-control{name: "courses", multiple: "multiple"}
            - courses.each do |course|
              %option{value: course}= course
      .form-group
        .controls.pull-right.col-xs-10
          %a.btn.btn-block.btn-primary{title: 'Choisir un nouveau PDF', href: '/'}
            Choisir un nouveau PDF
            %i.glyphicon.glyphicon-upload
    .panel.panel-default.filters
      .panel-heading
        Filtres
      .panel-body
        = partial :simple_filter, collection: simple_filters
        .filter.days-off-filter
          %h2.filter-heading Journées de congées
          .filter-body
            .day-off-list
              .row
                %a.btn.btn-primary.btn-block.add-period
                  Ajouter un congé
                  %i.glyphicon.glyphicon-plus
    .panel.panel-default.outputs
      .panel-heading Sorties
      .panel-body
        %ul.list-group.output-list
          = partial :output_type, collection: output_types
    %button.btn.btn-block.pull-right.btn-primary
      Soumettre
      %i.glyphicon.glyphicon-share
%script#day-off-template{type: "text/x-handlebars-template"}
  .row.day-off-row
    .col-xs-12.col-sm-3
      %select.form-control{name: "day-off-weekday[]"}
        - %w(Lundi Mardi Mercredi Jeudi Vendredi).each_with_index do |weekday, index|
          %option{value: index}= weekday
    .col-xs-5.col-sm-4
      .input-group
        %span.input-group-addon De
        %select.form-control{name: "day-off-from-time[]"}
          - (0..23).each_with_index do |hour, index|
            %option{value: index}= "#{hour}h00"
    .col-xs-5.col-sm-4
      .input-group
        %span.input-group-addon À
        %select.form-control{name: "day-off-to-time[]"}
          - (0..23).each_with_index do |hour, index|
            %option{value: index, selected: hour == 23}= "#{hour}h00"
    .col-xs-2.col-sm-1
      %a.btn.btn-block.btn-primary.remove-period -