<!doctype html>
%html
  %head
    %title Générateur d'horaire pour l'ÉTS
    %meta{content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport'}
    %link{href: '//fonts.googleapis.com/css?family=Lato:400,700,900,400italic', rel: 'stylesheet'}
    = stylesheet_link_tag 'application', media: 'all'

    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js', type: 'text/javascript'}
    = yield :pre_javascript
    = javascript_include_tag 'application'

    = csrf_meta_tags
  %body{class: params[:controller]}
    = render partial: 'shared/user_voice_widget'
    #content-wrapper
      = render partial: 'shared/header'
      = yield
    = render partial: 'shared/footer'
    = yield :post_html
