<!doctype html>
%html
  %head
    %title Planificateur d'horaire pour l'ÉTS
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %link{:href => "//netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js", :type => "text/javascript"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js", :type => "text/javascript"}
    = javascript_include_tag 'application', "data-turbolinks-track" => true

    = csrf_meta_tags
  %body{id: params[:controller]}
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Calculateur d'horaire", root_path, class: 'navbar-brand'
    = yield